@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);

* {
  font-family: 'Noto Sans Korean', sans-serif;
  font-weight: 400;
}

body {
  background-color: #2C2C2C;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background: #1E1E1E;

  display: flex;
  vertical-align: middle;
  align-items: center;

  -webkit-app-region: drag;
}

.headerContainer .title {
  font-weight: 900;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 38px;
  margin-left: 8px;
  float: left;
}

.headerContainer .createButton {
  width: 57px;
  height: 23px;

  background: #4255FF;
  border-radius: 5px;

  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  float: left;
  margin-left: 8px;

  cursor: pointer;
}

.headerContainer .createButton:hover {
  background: #364aff;
}

.headerContainer .exitButton {
  position: fixed;
  right: 0;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  width: 59px;
  height: 38px;

  background: #1E1E1E;

  cursor: pointer;
}

.headerContainer .exitButton:hover {
  background: #EE1515;
}

.headerContainer .sizeButton {
  position: fixed;
  right: 59px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  width: 59px;
  height: 38px;

  background: #1E1E1E;

  cursor: pointer;
}

.headerContainer .sizeButton:hover {
  background: #252525;
}

.headerContainer .miniButton {
  position: fixed;
  right: 118px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  width: 59px;
  height: 38px;

  background: #1E1E1E;

  cursor: pointer;
}

.headerContainer .miniButton:hover {
  background: #252525;
}

.headerContainer .menuButton {
  position: fixed;
  right: 177px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 38px;

  background: #1E1E1E;

  cursor: pointer;
}

.headerContainer .menuButton:hover {
  background: #252525;
}

.undrag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: none;
}
